################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PDFViewer
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
